:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center ;
  gap: 15px;
  margin: 4px;

}

#data{
  color: rgb(14, 224, 10);
  margin: 0;
}

p{
  margin-top: 50px;
}

#card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}